body {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #1a3c55;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: #000;

  padding: 15px;
  margin: 0 15px;
}

.header__cart {
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  background-color: #e8534f;
  color: #000;
}


.container {
  padding: 0 15px;
  margin: 0 15px;
}

.orders {
  margin-top: 20%;
}

.orders__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ccc;
}

.block {
  margin-top: 20%;
}

.hidden {
  background-color: #ccc;
  opacity: 0.4;
}
.hidden button {
  cursor: default;
}

.block__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block__item {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 0 auto;
    min-width: 370px;
    height: 170px;

    border-radius: 10px;
    margin: 10px;
}

.block__btn {
  outline: none;
  border: 0;
  background-color: inherit;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.block__item[order-state="1"] {
  background-color: #5645a2;
}

.block__item[order-state="2"] {
  background-color: #1e619e;
}

.block__item[order-state="3"] {
  background-color: #428d29;
}

.block__item[order-state="4"] {
  background-color: #992c63;
}

.block__item[order-state="5"] {
  background-color: #1d5d70;
}

.block__item[order-state="6"] {
  background-color: #99732c;
}

.block__item[order-state="7"] {
  background-color: #821f41;
}